body {
    background-color: #FEF0EF;
}

h1 {
    color: #BC928D;
    font-family: 'millaris';
    padding: 5px;
    text-align: center;
    font-size: 2.5em;
}

h4, p, li {
    font-family: 'melodrame';
    font-size: larger;
    color: #563C39;
    line-height: 110%;
}

@font-face {
	font-family: millaris;
	src: url(fonts/millaris.ttf);
}

@font-face {
    font-family: melodrame;
    src: url(fonts/melodrame.ttf);
}

@font-face {
    font-family: vogue;
    src: url(fonts/vogue.ttf);
}

nav.sitenav {
	text-align: center;
	background-color: #FDE1DE;
    margin: 0;
}
nav.sitenav a {
	color: #BC928D;
	text-decoration: none;
    font-size: larger;
}
nav.sitenav p {
	display: inline-block;
	height: 2em;
	margin: auto;
	width: 150px;
	padding-top: 20px;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:link {
	color: white;
	text-decoration: none;
}

nav a:hover, nav a:focus {
	color: white;
	text-decoration: none;
	border-radius: 5px;
    padding: 2.5px;
}

nav.sitenav p:hover, nav.sitenav p:focus {
	background-image: radial-gradient(#E4B1AB, #CFA19B);
}


h3 {
    color: #563C39;
    font-family: 'vogue';
    text-align: center;
    font-size: 1.5em;
}

.desc, .ingred, .instr {
    background-color: #E4B1AB;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    width: auto;
}

.desc {
    padding-left: 20px;
    padding-right: 20px;
}

.left {
    position: absolute;
    width: 49.75%;
}

.right {
    float: right;
    width: 49.75%;
}

.first, .second, .third {
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    width: 31.25%;
    float: left;
}

img {
    width: 100%;
    padding-left: 5px;
    border-radius: 10px;
}

.intro, .intro img{
    background-color: #FDE1DE;
}

.intro h3, .intro p {
    padding: 30px;;
}

.intro h3 {
    padding: 20;
    margin: 5px;
}

h4 {
    top: 300px;
}

.intropage {
    position: absolute;
    top: 400px;
    width: 92.5%;
    margin: auto 50px auto 50px;
}